Repository duckie-team/quack-quack-android, pull requests merged in 2022-08, with the labels that each got.

#14 API 디자인 데모
  .editorconfig
  .idea/dictionaries/jisungbin.xml
  build-plugin/src/main/kotlin/land/sungbin/duckie/quackquack/plugin/jacoco.kt
  build.gradle.kts
  buildSrc/docs/try-code-diet.md
  buildSrc/src/main/kotlin/GradleScopeExtensions.kt
  common/src/main/kotlin/land/sungbin/duckie/quackquack/common/runIf.kt
  gradle/libs.versions.toml
  playground/src/main/AndroidManifest.xml
  playground/src/main/kotlin/land/sungbin/duckie/quackquack/playground/MainActivity.kt
  playground/src/main/kotlin/land/sungbin/duckie/quackquack/playground/ToastWrapper.kt
  report/compose-metrics/playground_debug-module.json
  report/compose-metrics/ui-components_debug-module.json
  report/compose-reports/playground_debug-composables.csv
  report/compose-reports/playground_debug-composables.txt
  report/compose-reports/ui-components_debug-classes.txt
  report/compose-reports/ui-components_debug-composables.csv
  report/compose-reports/ui-components_debug-composables.txt
  ui-components/build.gradle.kts
  ui-components/docs/components.md
  ui-components/docs/layout.md
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/animation/spec.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/color/color.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/component/button.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/component/surface.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/component/text.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/constant/padding.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/constant/size.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/empty.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/layout/layout.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/modifier/size.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/modifier/surface.kt
  ui-components/src/main/kotlin/land/sungbin/duckie/quackquack/ui/typography/style.kt
  ui-components/src/main/res/font/suit_variable.ttf
Labels: enhancement, UI

#16 DesignSystem 린트 데모
  .idea/dictionaries/jisungbin.xml
  build-plugin/build.gradle.kts
  build-plugin/src/main/kotlin/ApplicationComposePlugin.kt
  build-plugin/src/main/kotlin/ApplicationJacocoPlugin.kt
  build-plugin/src/main/kotlin/ApplicationPlugin.kt
  build-plugin/src/main/kotlin/BenchmarkPlugin.kt
  build-plugin/src/main/kotlin/LibraryComposePlugin.kt
  build-plugin/src/main/kotlin/LibraryJacocoPlugin.kt
  build-plugin/src/main/kotlin/LibraryPlugin.kt
  build-plugin/src/main/kotlin/LintPlugin.kt
  build-plugin/src/main/kotlin/ProjectJacocoPlugin.kt
  build-plugin/src/main/kotlin/land/sungbin/duckie/quackquack/plugin/PluginEnum.kt
  build-plugin/src/main/kotlin/land/sungbin/duckie/quackquack/plugin/application.kt
  build-plugin/src/main/kotlin/land/sungbin/duckie/quackquack/plugin/extensions.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/GradleScopeExtensions.kt
  buildSrc/src/main/kotlin/PluginEnum.kt
  gradle/libs.versions.toml
  lint-compose/build.gradle.kts
  lint-compose/src/main/kotlin/land/sungbin/duckie/quackquack/lint/compose/DesignSystemDetector.kt
  lint-compose/src/main/kotlin/land/sungbin/duckie/quackquack/lint/compose/DesignSystemIssueRegistry.kt
  lint-compose/src/main/kotlin/land/sungbin/duckie/quackquack/lint/compose/empty.kt
  lint-compose/src/main/resources/META-INF/services/com.android.tools.lint.client.api.IssueRegistry
  lint-compose/src/test/kotlin/land/sungbin/duckie/quackquack/lint/compose/DesignSystemTest.kt
  lint-compose/src/test/kotlin/land/sungbin/duckie/quackquack/lint/compose/empty.kt
  lint-core/build.gradle.kts
  lint-core/src/test/kotlin/land/sungbin/duckie/quackquack/lint/core/empty.kt
  lint-writing/build.gradle.kts
  lint-writing/src/test/kotlin/land/sungbin/duckie/quackquack/lint/writing/empty.kt
  playground/build.gradle.kts
  playground/src/main/kotlin/land/sungbin/duckie/quackquack/playground/MainActivity.kt
  settings.gradle.kts
  ui-components/build.gradle.kts
Labels: lint

#27 feat: cd 에서 labeled 타입 제거
  .github/workflows/android-cd.yml
Labels: UI

#28 feat: cd label 체크 로직 변경
  .github/workflows/android-cd.yml
Labels: UI

#29 lint-quack 분리
  lint-compose/src/main/kotlin/team/duckie/quackquack/lint/compose/empty.kt
  lint-compose/src/test/kotlin/team/duckie/quackquack/lint/compose/empty.kt
  lint-quack/build.gradle.kts
  lint-quack/src/main/AndroidManifest.xml
  lint-quack/src/main/kotlin/team/duckie/quack/lint/quack/DesignSystemDetector.kt
  lint-quack/src/main/kotlin/team/duckie/quack/lint/quack/DesignSystemIssueRegistry.kt
  lint-quack/src/main/resources/META-INF/services/com.android.tools.lint.client.api.IssueRegistry
  lint-quack/src/test/kotlin/team/duckie/quack/lint/quack/DesignSystemTest.kt
  playground/build.gradle.kts
  playground/src/main/kotlin/team/duckie/quackquack/playground/MainActivity.kt
  settings.gradle.kts
Labels: lint

#44 [TEST] CI/CD 조정 및 그레이들 코드 정리
  .github/workflows/android-cd.yml
  .github/workflows/android-ci.yml
  .github/workflows/dokka-deploy.yml
  .gitignore
  documents/release-note/default.txt
  gradle-conventions/src/main/kotlin/AndroidApplicationComposePlugin.kt
  gradle-conventions/src/main/kotlin/AndroidApplicationPlugin.kt
  gradle-conventions/src/main/kotlin/AndroidBenchmarkPlugin.kt
  gradle-conventions/src/main/kotlin/AndroidCommonLintPlugin.kt
  gradle-conventions/src/main/kotlin/AndroidLibraryComposePlugin.kt
  gradle-conventions/src/main/kotlin/AndroidLibraryComposeUiTestPlugin.kt
  gradle-conventions/src/main/kotlin/AndroidLibraryPlugin.kt
  gradle-conventions/src/main/kotlin/AndroidLintPlugin.kt
  gradle-conventions/src/main/kotlin/JvmLibraryPlugin.kt
  gradle-conventions/src/main/kotlin/ModuleDokkaPlugin.kt
  report/compose-metrics/playground_benchmark-module.json
  report/compose-metrics/playground_debug-module.json
  report/compose-metrics/playground_release-module.json
  report/compose-metrics/ui-components_debug-module.json
  report/compose-metrics/ui-components_release-module.json
  report/compose-reports/playground_benchmark-classes.txt
  report/compose-reports/playground_benchmark-composables.csv
  report/compose-reports/playground_benchmark-composables.txt
  report/compose-reports/playground_debug-classes.txt
  report/compose-reports/playground_debug-composables.csv
  report/compose-reports/playground_debug-composables.txt
  report/compose-reports/playground_release-classes.txt
  report/compose-reports/playground_release-composables.csv
  report/compose-reports/playground_release-composables.txt
  report/compose-reports/ui-components_debug-classes.txt
  report/compose-reports/ui-components_debug-composables.csv
  report/compose-reports/ui-components_debug-composables.txt
  report/compose-reports/ui-components_release-classes.txt
  report/compose-reports/ui-components_release-composables.csv
  report/compose-reports/ui-components_release-composables.txt
Labels: UI, deploy, dokka

#49 feat: 테스트 커버리지 HTML 리포트 올리는 과정 추가
  .github/workflows/android-ci.yml
Labels: deploy, dokka

#50 템플릿 및 CI 조정
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/android-ci.yml
  build.gradle.kts
Labels: deploy, test

#52 스냅샷 테스트 환경 구성 (2)
  .github/workflows/android-cd.yml
  .github/workflows/android-ci.yml
  .github/workflows/dokka-deploy.yml
  .gitignore
  build.gradle.kts
  ui-components/build.gradle.kts
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
  ui-components/src/test/kotlin/team/duckie/quackquack/ui/QuackButtonSnapshot.kt
  ui-components/src/test/kotlin/team/duckie/quackquack/ui/empty.kt
Labels: UI, deploy, dokka, test

#48 MutableCollectionPublic 케이스 작성
  lint-core/src/main/kotlin/team/duckie/quackquack/lint/core/CoreIssueRegistry.kt
  lint-core/src/main/kotlin/team/duckie/quackquack/lint/core/MutableCollectionPublicDetector.kt
  lint-core/src/main/kotlin/team/duckie/quackquack/lint/core/empty.kt
  lint-core/src/main/resources/META-INF/services/com.android.tools.lint.client.api.IssueRegistry
  lint-core/src/test/kotlin/team/duckie/quackquack/lint/core/MutableCollectionPublicTest.kt
  lint-core/src/test/kotlin/team/duckie/quackquack/lint/core/empty.kt
Labels: lint, deploy, dokka

#70 Feat/fixed modifier order
  build.gradle.kts
  lint-compose/src/main/kotlin/team/duckie/quackquack/lint/compose/ComposeIssueRegistry.kt
  lint-compose/src/main/kotlin/team/duckie/quackquack/lint/compose/FixedModifierOrderDetector.kt
  lint-compose/src/test/kotlin/team/duckie/quackquack/lint/compose/FixedModifierOrderTest.kt
  lint-compose/src/test/kotlin/team/duckie/quackquack/lint/compose/PreferredImmutableCollectionsTest.kt
Labels: lint, deploy, dokka, test

#69 타이포그래피, 태그,탭 추가
  ui-components/src/androidTest/kotlin/team/duckie/quackquack/ui/Extension.kt
  ui-components/src/androidTest/kotlin/team/duckie/quackquack/ui/TagTest.kt
  ui-components/src/androidTest/kotlin/team/duckie/quackquack/ui/TypographyTest.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/color.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/icon.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/text.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/constant/padding.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/constant/shape.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/typography/style.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/typography/typography.kt
  ui-components/src/main/res/drawable/ic_close_24.xml
Labels: UI
