Repository duckie-team/quack-quack-android, pull requests merged in 2022-11, with the labels that each got.

#339 QuackAnnotatedBody2 컴포넌트 추가
  assets/coverage.svg
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TypoPlayground.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/QuackText.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/typography.kt
Labels: ui-components, ReleaseTarget_UiComponents

#341 chore: ui-components 와 lint 모듈만 테스트 커버리지 산출하게 설정
  assets/coverage.svg
  build.gradle.kts
Labels: test

#345 Renovate 설정 업데이트
  renovate.json
Labels: enhancement

#349 feat: add auto-approve action
  .github/workflows/auto-approve.yml
Labels: enhancement, github_actions, bypass

#348 feat: 테스트 커버리지 푸시 단계 추가
  .github/workflows/android-ci.yml
  assets/badge/quackquack/coverage.svg
  assets/coverage.svg
Labels: enhancement, github_actions

#352 feat: AnimatedContentTransform public 으로 수정
  gradle/libs.versions.toml
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/animation/QuackAnimatedContentTransform.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/QuackText.kt
Labels: ui-components, bypass

#354 feat: committer 지정
  .github/workflows/android-ci.yml
Labels: github_actions, bypass

#356 refactor: QuackTheme 에 ProvideTextSelectionColors 합체
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textarea.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textfield.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/theme/QuackTheme.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/util/textfield.kt
Labels: ui-components, bypass

#359 refactor: dimmed 리팩토링
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/dimmed.kt
Labels: ui-components

#360 refactor: QuackText 코드 정리
  gradle/libs.versions.toml
  ui-components/build.gradle.kts
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/QuackText.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/typography.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/textstyle/QuackTextStyle.kt
Labels: ui-components

#361 refactor: TextFieldImpl 문서화 보충
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/TextFieldImpl.kt
Labels: documentation, bypass

#362 [WIP] QuackButton 코드 정리
  .idea/codeStyles/codeStyleConfig.xml
  ui-components/docs/documentation-rules.md
  ui-components/docs/layout.md
  ui-components/docs/textfield.md
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
Labels: ui-components

#370 ui-components 모듈의 baseline-prof 생성 시 모듈에 해당하는 줄만 남기도록 변경
  .github/workflows/artifact-stable-publish.yml
Labels: github_actions

#385 fixes #378
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  build.gradle.kts
  playground/TODO.md
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/ButtonPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/ImagePlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TagPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextFieldPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TopAppBarPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TypographyPlayground.kt
  settings.gradle.kts
  ui-components/api/ui-components.api
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/animation/QuackAnimatedVisibility.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/QuackColor.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/DropDown.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/TextArea.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/TextField.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/TopAppBar.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/QuackText.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/dimmed.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/label.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/toggle.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/typography.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/icon/QuackIcon.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/modifier/clickable.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/textstyle/QuackTextStyle.kt
  ui-components/src/main/res/drawable/quack_ic_check_24.xml
  versions/ui-components.txt
Labels: enhancement, ui-components

#386 feat: fix design detail
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/ImagePlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextFieldPlayground.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  versions/ui-components.txt
Labels: ui-components

#387 1.3.3
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/ImagePlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextFieldPlayground.kt
  ui-components/api/ui-components.api
  ui-components/build.gradle.kts
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/GridLayout.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  versions/ui-components.txt
Labels: ui-components

#388 feat: 누락된 인자 추가 및 crash 수정
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TagPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextFieldPlayground.kt
  ui-components/api/ui-components.api
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/TextField.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  versions/playground.txt
  versions/ui-components.txt
Labels: ui-components

#389 feat: QuackBasic2TextField 문제 수정
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextFieldPlayground.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/TextField.kt
  versions/ui-components.txt
Labels: ui-components

#391 feat: QuackSingeLazyRowTag title 패딩 문제 수정
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  versions/ui-components.txt
Labels: ui-components

#392 feat: fix QuackLazyVerticalGridTag title padding
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TagPlayground.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  versions/ui-components.txt
Labels: ui-components

#393 feat: fix QuackSingeLazyRowTag Modifier reusing bug
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  versions/ui-components.txt
Labels: ui-components
