Repository duckie-team/quack-quack-android, pull requests merged in 2022-10, with the labels that each got.

#162 feat: 땡땡이랑 형광팬 색상 지정
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textfield.kt
Labels: UI

#167 QuackFab 완성 및 디자인 스팩 최신화
  benchmark-ui-components-app/src/main/kotlin/team/duckie/quackquack/ui/benchmark/app/benchmark.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/MainActivity.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/ButtonPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/FabPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextFieldPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TogglePlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/util/ToastWrapper.kt
  ui-components/api/ui-components.api
  ui-components/src/androidTest/kotlin/team/duckie/quackquack/ui/QuackImageTest.kt
  ui-components/src/androidTest/kotlin/team/duckie/quackquack/ui/modifier/QuackSizeTest.kt
  ui-components/src/androidTest/kotlin/team/duckie/quackquack/ui/util/assrtion.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/fab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/dimmed.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/surface.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/toggle.kt
Labels: runtime issue, enhancement, UI, deploy, dokka, test, release

#168 feat: CI 에서 테스트 커버리지 step 정리
  .github/workflows/android-ci.yml
Labels: enhancement, test

#169 feat: set codecov token
  .github/workflows/android-ci.yml
Labels: deploy, test

#172 프로젝트 백엔드 개선
  .github/workflows/android-cd.yml
  .github/workflows/android-ci.yml
  .github/workflows/artifact-publish.yml
  .github/workflows/playground-release.yml
  build-logic/src/main/kotlin/AndroidApplicationPlugin.kt
  build-logic/src/main/kotlin/AndroidQuackPublishPlugin.kt
  build-logic/src/main/kotlin/team/duckie/quackquack/convention/ApplicationConstants.kt
  build-logic/src/main/kotlin/team/duckie/quackquack/convention/QuackPublishExtension.kt
  build-logic/src/main/kotlin/team/duckie/quackquack/convention/versioning.kt
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  lint-compose-publish/build.gradle.kts
  lint-core-publish/build.gradle.kts
  lint-quack-publish/build.gradle.kts
  playground-version.txt
  quackquack-version/lint-compose.txt
  quackquack-version/lint-core.txt
  quackquack-version/lint-quack.txt
  quackquack-version/ui-components.txt
Labels: enhancement

#174 chore: CI jobs 이름 변경
  .github/workflows/android-ci.yml
  .github/workflows/artifact-publish.yml
Labels: release, bump_major, bump_minor, bump_patch

#176 chore: 아티팩트 배포 액션 CI/CD 분리
  .github/workflows/artifact-build.yml
  .github/workflows/artifact-publish.yml
Labels: release, bump_major, bump_minor, bump_patch, test

#178 CI/CD 빌드 에러 수정
  .github/workflows/artifact-build.yml
  .github/workflows/artifact-publish.yml
  .github/workflows/playground-release.yml
Labels: release, bump_major, bump_minor, bump_patch

#183 publish new version
  .github/workflows/artifact-publish.yml
  .github/workflows/playground-release.yml
  quackquack-version/ui-components.txt
Labels: publish, bump_minor, target_ui-components

#185 publish new version
  .github/workflows/artifact-publish.yml
Labels: publish, bump_minor, target_ui-components

#187 publish new version
  .github/workflows/artifact-publish.yml
Labels: publish, bump_minor, target_ui-components

#192 publish new version (final)
  .github/workflows/artifact-publish.yml
  assets/logo-icon.svg
  assets/quackquack-banner.svg
Labels: publish, bump_minor, target_ui-components

#193 feat: committer bot 설정
  .github/workflows/artifact-publish.yml
  .github/workflows/playground-release.yml
Labels: enhancement

#206 Lint/specify animation spec
  lint-compose/src/main/kotlin/team/duckie/quackquack/lint/compose/ComposeIssueRegistry.kt
  lint-compose/src/main/kotlin/team/duckie/quackquack/lint/compose/SpecifyAnimationSpecDetector.kt
  lint-compose/src/test/kotlin/team/duckie/quackquack/lint/compose/SpecifyAnimationSpecTest.kt
Labels: lint, documentation, test, Android

#224 feat: animateAsState 빌드 에러 해결
  gradle/libs.versions.toml
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/border/QuackBorder.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/QuackColor.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/textstyle/QuackTextStyle.kt
Labels: animation

#231 feat: 스냅샷 테스트 복원
  .gitignore
  gradle/libs.versions.toml
  lint-compose/src/main/kotlin/team/duckie/quackquack/lint/compose/SpecifyAnimationSpecDetector.kt
  lint-compose/src/test/kotlin/team/duckie/quackquack/lint/compose/SpecifyAnimationSpecTest.kt
  settings.gradle.kts
  ui-components-snapshots/build.gradle.kts
  ui-components-snapshots/src/main/AndroidManifest.xml
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackButton.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackFab.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackTab.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackTag.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackTextField.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackToggle.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/provider/DecorationContentProvider.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/provider/NullableQuackIconProvider.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/provider/QuackIconProvider.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/rule/AnimationTestRule.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/util/paparazzi.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/wrapper/NamedValue.kt
  ui-components/api/ui-components.api
  ui-components/build.gradle.kts
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/animation/AnimatedContentTransform.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/animation/spec.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/border/QuackBorder.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/QuackColor.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/fab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/surface.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textfield.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/toggle.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/textstyle/QuackTextStyle.kt
  ui-components/src/test/kotlin/team/duckie/quackquack/ui/README.md
Labels: enhancement, ui-components

#236 feat: QuackIcon 표시 방법 변경
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TogglePlayground.kt
  ui-components/api/ui-components.api
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/QuackColor.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
Labels: ui-components

#238 feat: QuackLargeButton 패딩 조정
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
Labels: ui-components, release, bump_minor, Android

#241 feat: snapshots 관련 CI 및 로직 추가
  .github/workflows/android-ci.yml
  .github/workflows/artifact-build.yml
  .github/workflows/artifact-publish.yml
  .github/workflows/playground-release.yml
  .github/workflows/update-snapshots.yml
  .github/workflows/verify-snapshots-failed-comment.yml
  .github/workflows/verify-snapshots.yml
  .gitignore
  build-logic/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackButton.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackFab.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackTab.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackTag.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackTextField.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/QuackToggle.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/provider/QuackDeviceConfig.kt
  ui-components-snapshots/src/test/kotlin/team/duckie/quackquack/ui/snapshot/util/paparazzi.kt
Labels: enhancement

#217 QuackBottomSheet 등 여러가지 컴포넌트 구현
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  playground/build.gradle.kts
  playground/src/main/AndroidManifest.xml
  playground/src/main/kotlin/team/duckie/quackquack/playground/MainActivity.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/BottomSheetPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/EtcPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/NavigationPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/SelectableImagePlayground.kt
  ui-components-benchmark-app/src/main/kotlin/team/duckie/quackquack/ui/benchmark/app/MainActivity.kt
  ui-components-benchmark-app/src/main/kotlin/team/duckie/quackquack/ui/benchmark/app/benchmark.kt
  ui-components/api/ui-components.api
  ui-components/src/main/AndroidManifest.xml
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/QuackColor.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/bottomNavigation.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/bottomSheet.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/dropDown.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/label.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/selectableImage.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/topAppBar.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/typography.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/icon/QuackIcon.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/modifier/border.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/textstyle/QuackTextStyle.kt
  ui-components/src/main/res/drawable/quack_duckie_text_logo.xml
  ui-components/src/main/res/drawable/quack_ic_checked_round_24.xml
  ui-components/src/main/res/drawable/quack_ic_home_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_home_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_message_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_message_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_notice_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_notice_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_search_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_search_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_un_checked_round_24.xml
Labels: ui-components, release, bump_patch, target_ui-components

#215 QuackModalDrawer, Divider 구현
  playground/src/main/AndroidManifest.xml
  playground/src/main/kotlin/team/duckie/quackquack/playground/MainActivity.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/DrawerPlayground.kt
  ui-components-benchmark-app/src/main/kotlin/team/duckie/quackquack/ui/benchmark/app/MainActivity.kt
  ui-components-benchmark-app/src/main/kotlin/team/duckie/quackquack/ui/benchmark/app/benchmark.kt
  ui-components/api/ui-components.api
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/color/QuackColor.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/divider.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/drawer.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/internal/ModalDrawerImpl.kt
Labels: ui-components, release, bump_minor, bump_patch, target_ui-components

#270 docs: 리드미 개선
  README.md
Labels: dependencies

#272 Quack 컴포넌트 Modifier 제공
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/GridLayoutPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/NavigationPlayground.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TypoPlayground.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/gridLayout.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/selectableImage.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/topAppBar.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/typography.kt
Labels: ui-components

#275 Docs/improve documents
  README.md
Labels: documentation

#276 docs: improve documents
  README.md
  assets/ui-components/animated-quackimage.gif
  assets/ui-components/animated-quacktext.gif
Labels: documentation

#282 QuackTextArea 구현
  playground/src/main/AndroidManifest.xml
  playground/src/main/kotlin/team/duckie/quackquack/playground/MainActivity.kt
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TextAreaPlayground.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/border/QuackBorder.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/selectableImage.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textarea.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textfield.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/modifier/border.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/util/textfield.kt
Labels: ui-components

#280 문서화 보충 및 QuackTag 일부 재구현
  README.md
  gradle/libs.versions.toml
  playground/src/main/kotlin/team/duckie/quackquack/playground/realworld/TagPlayground.kt
  quackquack-version/ui-components.txt
  ui-components/build.gradle.kts
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/theme/QuackTheme.kt
Labels: enhancement, ui-components, documentation

#288 QuackTextStyle 의 align 기본값을 Start 로 변경
  quackquack-version/ui-components.txt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/border/QuackSquircle.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/button.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/card.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/dropDown.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/fab.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/gridLayout.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/image.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/tag.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textarea.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/textfield.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/component/toggle.kt
  ui-components/src/main/kotlin/team/duckie/quackquack/ui/textstyle/QuackTextStyle.kt
  ui-components/src/main/res/drawable/quack_duckie_text_logo.xml
  ui-components/src/main/res/drawable/quack_ic_checked_round_24.xml
  ui-components/src/main/res/drawable/quack_ic_home_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_home_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_message_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_message_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_notice_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_notice_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_profile_24_filled.xml
  ui-components/src/main/res/drawable/quack_ic_search_bottom_nav_24.xml
  ui-components/src/main/res/drawable/quack_ic_search_bottom_nav_selected_24.xml
  ui-components/src/main/res/drawable/quack_ic_un_checked_round_24.xml
Labels: ui-components

#300 Improve readme
  README.md
Labels: documentation

#310 refactor: 프로젝트 전체 리팩토링
  .github/workflows/android-ci.yml
  .github/workflows/artifact-build.yml
  .github/workflows/artifact-publish.yml
  .github/workflows/artifact-snapshot-publish.yml
  .github/workflows/artifact-stable-publish.yml
  .github/workflows/playground-release.yml
  .github/workflows/update-snapshots.yml
  .github/workflows/verify-snapshots-failed-comment.yml
  .github/workflows/verify-snapshots.yml
  .idea/icon.png
  README.md
  RELEASING.md
  assets/coverage.svg
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/AndroidApplicationComposePlugin.kt
  build-logic/src/main/kotlin/AndroidApplicationPlugin.kt
  build-logic/src/main/kotlin/AndroidLibraryComposePlugin.kt
  build-logic/src/main/kotlin/AndroidLibraryComposeUiTestPlugin.kt
  build-logic/src/main/kotlin/AndroidLibraryPlugin.kt
  build-logic/src/main/kotlin/AndroidQuackPublishPlugin.kt
  build-logic/src/main/kotlin/AndroidQuackUiComponentsBenchmarkPlugin.kt
  build-logic/src/main/kotlin/JvmJUnit4Plugin.kt
  build-logic/src/main/kotlin/JvmLibraryPlugin.kt
  build-logic/src/main/kotlin/team/duckie/quackquack/convention/QuackPublishExtension.kt
  build-logic/src/main/kotlin/team/duckie/quackquack/convention/extensions.kt
  build-logic/src/main/kotlin/team/duckie/quackquack/convention/versioning.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/ConventionEnum.kt
  buildSrc/src/main/kotlin/GradleScopeExtensions.kt
  buildSrc/src/main/kotlin/extensions.kt
  common-lint-test/build.gradle.kts
  common-lint/build.gradle.kts
  documents/secrets.tar.gpg.md
  lint-compose-publish/build.gradle.kts
  lint-compose/build.gradle.kts
  lint-core-publish/build.gradle.kts
  lint-core/build.gradle.kts
  lint-custom-rule-annotation/build.gradle.kts
  lint-custom-rule-processor/build.gradle.kts
  lint-quack-publish/build.gradle.kts
  lint-quack/build.gradle.kts
  lint-writing/build.gradle.kts
  playground-version.txt
  playground/build.gradle.kts
  quack-publish-bom/build.gradle.kts
  quackuser-secrets.tar
  secrets.tar.gpg
  settings.gradle.kts
  ui-components-benchmark-app/build.gradle.kts
  ui-components-benchmark/build.gradle.kts
  ui-components-snapshots/build.gradle.kts
  ui-components/build.gradle.kts
  ux-writing-overlay/build.gradle.kts
  ux-writing-rule/build.gradle.kts
  versions/lint-compose.txt
  versions/lint-core.txt
  versions/lint-quack.txt
  versions/lint-writing.txt
  versions/playground.txt
  versions/ui-components.txt
Labels: ReleaseTarget_UiComponents

#312 feat: change main branch to master branch
  .github/workflows/artifact-snapshot-publish.yml
  .github/workflows/artifact-stable-publish.yml
  assets/coverage.svg
Labels: ReleaseTarget_UiComponents

#313 fix quack-label-filter-actions version
  .github/workflows/artifact-snapshot-publish.yml
  .github/workflows/artifact-stable-publish.yml
  .github/workflows/playground-release.yml
Labels: ReleaseTarget_UiComponents

#315 Fix snapshot repository links
  README.md
Labels: ReleaseTarget_UiComponents

#321 docs: improve lint readme
  README.md
Labels: documentation

#331 chore: enabled gradle cache auto cleanup
  settings.gradle.kts
Labels: enhancement, gradle
